<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory - Furr-FluffSpa</title>
</head>
<body>
    <header>
        <img src="/Users/gideonhabwe/alx/furr-FluffSpa/frontend/images/logo.jpg" alt="Furr-FluffSpa Logo">
    </header>
    <h1>Inventory</h1>
    <p>Manage your inventory here.</p>
</body>
</html>
